version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: app.Dockerfile
    container_name: teste_angular_pwa
    ports:
      - "4203:4203"
      - "5000:5000"
    volumes:
      - ..:/app
    tty: true
